src
node_modules
tsconfig.json
*.map
.tags
.DS_Store
webpack.config.js
esbuild.js
yarn.lock
yarn-error.log
.github
.eslintrc.js
.prettierrc
_ref
_config.yml
stubs
laravel-project
resources/laravel/laravel-project.env
